@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sono&display=swap');

*{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Sono', sans-serif;
}

.header{
  background-color: #006d77;
  padding: 15px 0px 15px 0px;
  color: antiquewhite;
  text-align: center;
}
.footer{
  background-color: #006d77;
  padding: 15px 0px 15px 0px;
  color: antiquewhite;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.welcometext{
  text-align: center;
}

.graphic{
  display: flex;
  align-items: center;
  justify-content: center;
}

.beginButtonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
}

.beginButton{
  color:black;
}